# # Core
numpy>=1.24
pandas==2.2.3
scikit-learn==1.6.1
PyYAML==6.0.2

# # Visualization (optional but helpful)
matplotlib==3.10.3
seaborn==0.13.2

# # Dev and Utilities
jupyter==1.1.1
# python-dotenv

# # Additional NLP Libraries
langdetect==1.0.9
stanza==1.10.1
transformers==4.53.2 
sentencepiece==0.2.0